* {
	box-sizing: border-box;
}

html, body{
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100vh;
  overflow-x: hidden;
}

.fade {
	opacity: .5;
}

.sub {
	font-size: .8em;
}

.highlight {
	color: #0f0;
}

.flexwrap {
	display: flex;
	flex-wrap: wrap;
}

.graphmarkers {
	width: 100%;
	height: 10px;
	display: flex;
	align-items: flex-end;
	justify-content: space-between;

	.marker {
		width: 1px;
		flex-grow: 0;
		height: 50%;
		background: #999;

		&.major {
			height: 100%;
		}
	}
}

.graphbar {
	width: 100%;
	height: 24px;
	position: relative;
	overflow: hidden;
	background: #555;
	//border-radius: 3px;
	//box-shadow: inset 0 0 -1px 1px solid #777;
	color: white;
	display: flex;
	align-items: center;

	.fill {
		flex: 0;
		height: 100%;
		width: 0;
		background: #0f0;
		position: absolute;
		color: #222;
		display: flex;
		align-items: center;
		justify-content: flex-end;
		padding: 6px;
	}
}

.transitionslow {
	transition: all 1s cubic-bezier(0.165, 0.84, 0.44, 1);
}


.fade-enter-active, .fade-leave-active, .fade-move {
  transition: all 1s;
}

.fade-enter, .fade-leave-to {
  opacity: 0;
  transform: translateY(30px);
}

