* {
	box-sizing: border-box;
}

html, body {
  padding: 0;
  margin: 0;
  overflow-x: hidden;
}

body {
	width: 100%;
	min-height: 100vh;
 	background: #333;
}

.fade {
	opacity: .5;
}

.sub {
	font-size: .8em;
}

.highlight {
	color: #0f0;

	&.alt {
		color: #ff0;
	}
}

.flexwrap {
	display: flex;
	flex-wrap: wrap;
}

.martopsmall {
	margin-top: 6px;
}

.graphmarkers {
	width: 100%;
	height: 10px;
	display: flex;
	align-items: flex-end;
	justify-content: space-between;

	.marker {
		width: 1px;
		flex-grow: 0;
		height: 50%;
		background: #999;

		&.major {
			height: 100%;
		}
	}
}

.graphbar {
	width: 100%;
	height: 24px;
	position: relative;
	overflow: hidden;
	background: #333;
	border-radius: 3px;
	box-shadow: inset 0 0 -1px 1px solid #777;
	color: white;
	display: flex;
	align-items: center;
		margin-bottom: 4px;

	&.collapsed {
		height: 4px;
		width: 24%;
		margin-right: 1%;
		float: left;
	}

	& > * {
		z-index: 2;
	}

	.fill, .fill > div {
		flex: 0;
		height: 100%;
		width: 0;
		background: #0f0;
		position: absolute;
		display: flex;
		align-items: center;
		justify-content: flex-end;
		padding: 6px;
		z-index: 3;

		&.full {
			width: 100%;
		}

		& > div {
			right: 0;
			box-shadow: inset 1px 0 0 #333;
			padding: 0;
		}

		.label{
			color: #222;
			z-index: 4;
		}
	}
}

.transitionslow {
	transition: all 1s cubic-bezier(0.165, 0.84, 0.44, 1);
}


$three-quarters-loader-size: 32px !default;
$three-quarters-loader-color: #666 !default;

@keyframes three-quarters-loader {
  0%   { transform: rotateZ(0deg); }
  100% { transform: rotateZ(360deg); }
}

.three-quarters-loader:not(:required) {
  animation: three-quarters-loader 1250ms infinite linear;
  border: ($three-quarters-loader-size/4) solid $three-quarters-loader-color;
  border-right-color: transparent;
  border-radius: ($three-quarters-loader-size / 2);
  box-sizing: border-box;
  display: inline-block;
  position: relative;
  overflow: hidden;
  text-indent: -9999px;
  width: $three-quarters-loader-size;
  height: $three-quarters-loader-size;
}


.fade-enter-active, .fade-leave-active, .fade-move {
  transition: all .5s;
}

.fade-enter, .fade-leave-to {
  opacity: 0;
  transform: translateY(10px);
}

